// Colors
$c-white: white;
$c-black: black;
$c-neon-carrot: #ff9846;
$c-concrete: #f2f2f2;
$c-edward: #a4acad;
$c-jaffa: #f46d40;
$c-burnt-sienna: #eb5757;
$c-green: green;
$c-red: red;

// Fonts
$f-din: "DIN Pro";
$f-nexa: "Nexa";

// Font size
$fs-48: 48px;
$fs-large: 42px;
$fs-36: 36px;
$fs-logo: 30px;
$fs-price: 35px;
$fs-list-menu: 24px;
$fs-22: 22px;
$fs-20: 20px;
$fs-medium: 18px;
$fs-16: 16px;
$fs-description: 14px;
$fs-small: 11px;

// Transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
