@import "../../App.scss";

.products {
  margin-bottom: 100px;

  @include for-desktop-1024 {
    margin-bottom: 30px;
  }

  &__wrapper {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @include for-screen-1440 {
      justify-content: space-around;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 35px 0;

    &__text {
      @include fontParams($fs-36, 400);
      margin-left: 15px;
    }
  }

  &__icon {
    width: 42px;
    height: 42px;
  }
}

#setsIcon {
  width: 100%;
  height: 100%;
}

.cardProducts {
  background-color: $c-white;
  border-radius: 4px;
  margin-bottom: 35px;

  &__top {
    cursor: pointer;
    padding: 20px 15px;
    padding-bottom: 0;
  }

  &__image {
    margin-bottom: 40px;
    &__double {
      margin-bottom: 12px;
    }
  }

  &__title {
    @include fontParams($fs-list-menu, 600);
    color: $c-black;
    margin-bottom: 30px;
  }

  &__description {
    @include fontParams($fs-medium, 400);
    color: $c-edward;
    margin-bottom: 20px;
  }

  &__price {
    @include fontParams($fs-list-menu, 700);
    color: $c-black;
    margin-right: 10px;
  }

  &__bottom {
    @include flexRowCentAlign();
    flex-wrap: wrap;
    border-top: 1px solid $c-edward;
    padding: 10px 15px;
  }
}

.cardProducts {
  background-color: $c-white;
  border-radius: 4px;
  margin-bottom: 35px;

  &__top {
    cursor: pointer;
    padding: 20px 15px;
    padding-bottom: 0;
  }

  &__image {
    margin-bottom: 40px;
    &__double {
      margin-bottom: 12px;
    }
  }

  &__title {
    @include fontParams($fs-list-menu, 600);
    color: $c-black;
    margin-bottom: 30px;
  }

  &__description {
    @include fontParams($fs-medium, 400);
    color: $c-edward;
    margin-bottom: 20px;
  }

  &__price {
    @include fontParams($fs-list-menu, 700);
    color: $c-black;
    margin-right: 10px;
  }

  &__bottom {
    @include flexRowCentAlign();
    flex-wrap: wrap;
    border-top: 1px solid $c-edward;
    padding: 10px 15px;
  }
}
